:root{
  --bck1: rgb(29, 29, 29);
  --font: rgb(212, 212, 212);
  --bck2: #131313;
  --bck3: rgb(20, 20, 20);
  --bck4: #1a1a1a;
  --bck5: #161616;
}
 
.lightmode{
  --bck1: rgb(211, 211, 211);
  --font: rgb(19, 19, 19);
  --bck2: #d4d4d4;
  --bck3: rgb(202, 202, 202);
  --bck4: #c4c4c4;
  --bck5: #d8d8d8;
  }

  .oledmode{
    --bck1: rgb(0, 0, 0);
    --font: rgb(212, 212, 212);
    --bck2: #040404;
    --bck3: #020202;
    --bck4: #070707;
    --bck5: #060606;
    }
  
  
  .downloads{
    width: 100%;
    display: block;
    color: var(--font)
}

.btn{
    width: 98%;
    height: 40px;
    padding: 10px 10px;
    border-radius: 16px;
    background-color: var(--bck4);
    color: var(--font);
    text-decoration: none;
}

.btn:hover{
  text-decoration: underline;
  background-color: var(--bck5);
}

.downloadd{
    border-radius: 16px;
    width: 250px;
    height: 300px;
    margin: 0.5%;
    background-color: var(--bck2);
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
  border-radius: 16px;
    width: 240px;
    height: 240px;
    border-color: var(--bck2);
    border-style: solid;
    border-width: 5px;
    margin-bottom: 4%;
}


.badge {
  background-color: #057083;
  color: var(--font);
  padding: 4px 8px;
  margin-left: 3%;
  text-align: center;
  border-radius: 5px;
  margin-right: -20%;
}

.badge1 {
  background-color: #058316;
  color: var(--font);
  padding: 4px 8px;
  margin-left: 3%;
  text-align: center;
  border-radius: 5px;
  margin-right: -20%;
}
